<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xunit" type="Xunit.ConsoleClient.XunitConsoleConfigurationSection, xunit.console"/>
  </configSections>

  <xunit>
    <transforms>
      <add commandline="xmlv1" xslfile="XUnitConsoleRunner/xUnit1.xslt" description="output results to xUnit.net v1 style XML file"/>
      <add commandline="nunit" xslfile="XUnitConsoleRunner/NUnitXml.xslt" description="output results to NUnit-style XML file"/>
      <add commandline="html" xslfile="XUnitConsoleRunner/HTML.xslt" description="output results to HTML file"/>
    </transforms>
  </xunit>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>